// Colors
$color-primary-darkest: #002C37;
$color-primary-dark: #0A4A5B;
$color-primary-medium: #00586F;
$color-primary-light: #11728B;

$color-neutral-darkest: #1A1A1A;
$color-neutral-dark: #4F4F4F;
$color-neutral-medium: #9E9E9E;
$color-neutral-lightest: #EDEDED;
$color-neutral-white: #FFFFFF;

$color-feedback-danger-dark: #AD112F;
$color-feedback-danger-medium: #E6173E;

// HTML Elements
$navbar-height: 55px;
