@import "../../../styles/variables";

.table-container {
  overflow: auto;

  table {
    width: 100%;
    min-width: 825px;
    font-weight: 700;
    text-transform: uppercase;
    border-spacing: 0;
    table-layout: fixed;

    thead {
      background: $color-primary-light;
      color: $color-neutral-white;
      border-radius: 100%;
      font-size: 0.75rem;

      th {
        white-space: nowrap;
        cursor: pointer;

        &:first-child {
          border-radius: 2rem 0 0 2rem;
        }

        &:last-child {
          border-radius: 0% 100% 100% 0 / 100% 0% 100% 0%;
          width: 50px;
          pointer-events: none;
        }
      }
    }

    tbody {
      color: $color-neutral-dark;
      font-size: 0.625rem;

      tr:nth-child(even) {
        background: #f7f7f7;

        td:first-child {
          border-radius: 2rem 0 0 2rem;
        }

        td:last-child {
          border-radius: 0 2rem 2rem 0;
        }
      }
    }

    th,
    td {
      padding: 1rem 0.5rem;
      line-height: 1.5;

      &.column-name {
        text-align: start;
        padding: 1rem 0 1rem 1.5rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      &.column-document {
        width: 175px;
        text-align: center;

        @media (min-width: 1400px) {
          width: 225px;
        }
      }

      &.column-createDate {
        width: 200px;
        text-align: center;

        @media (min-width: 1400px) {
          width: 250px;
        }
      }

      &.column-monthlyIncome {
        width: 200px;
        text-align: start;

        @media (min-width: 1400px) {
          width: 250px;
        }
      }

      &.column-delete {
        padding-right: 1.5rem;
        text-align: center;

        i {
          color: $color-feedback-danger-medium;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            color: $color-feedback-danger-dark;
          }
        }
      }
    }
  }

  .no-customers {
    padding: 3rem;
    font-size: 0.75rem;
    color: $color-neutral-medium;
  }
}
