<div class="table-container">
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let column of columns"
          (click)="sortTable(column)"
          [ngClass]="'column-' + column.prop"
        >
          {{ column.name }}
          <span
            *ngIf="sortColumn === column.prop"
            [class]="'sort-icon ' + sortDirection"
          >
            <i class="fa fa-angle-down" *ngIf="sortDirection === 'asc'"></i>
            <i class="fa fa-angle-up" *ngIf="sortDirection === 'desc'"></i>
          </span>
        </th>

        <!-- Delete column -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of displayedRows">
        <td *ngFor="let column of columns" [ngClass]="'column-' + column.prop">
          <ng-container *ngIf="column.prop === 'name'">
            {{ row[column.prop] }}
          </ng-container>

          <ng-container *ngIf="column.prop === 'document'">
            {{ row[column.prop] | cpfMask }}
          </ng-container>

          <ng-container *ngIf="column.prop === 'createDate'">
            {{ row[column.prop].replaceAll("-", "/") }}
          </ng-container>

          <ng-container *ngIf="column.prop === 'monthlyIncome'">
            {{ row[column.prop] | currencyFormat }}
          </ng-container>
        </td>

        <!-- Delete column -->
        <td class="column-delete">
          <i class="fa fa-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- TODO: Adicionar texto em caso de não haver dados -->
<!-- <div *ngIf="!displayedRows">
  Não encontrado
</div> -->

<app-pagination
  [itemsPerPage]="itemsPerPage"
  [rows]="getFilteredRows()"
  (goToPageEvent)="handlePageChange($event)"
></app-pagination>
