@import "../../../styles/variables";

.custom-button {
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: $color-neutral-white;
  cursor: pointer;

  &.primary {
    background: $color-primary-dark;

    &:hover {
      background: $color-primary-light;
    }
  }

  &.secondary {
    background: $color-neutral-medium;

    &:hover {
      background: $color-neutral-dark;
      color: $color-neutral-white;
    }
  }
}
