<div class="customers-header">
  <div class="inputs-container">
    <div class="custom-input">
      <label>Clientes por página:</label>
      <input
        type="number"
        [formControl]="itemsPerPageControl"
        class="page-size-input"
      />
    </div>

    <div class="flex-center">
      <div class="custom-input">
        <label>Pesquisar cliente:</label>
        <input
          #searchInput
          type="text"
          [value]="CustomerFilter"
          (keyup.enter)="handleCustomerFilter(searchInput)"
          class="search-input"
        />
      </div>

      <img
        class="search-icon"
        src="../../../assets/icons/search.svg"
        alt="Search icon"
        (click)="handleCustomerFilter(searchInput)"
      />
    </div>
  </div>

  <button class="custom-button primary" (click)="navigateToCreateCustomer()">
    Adicionar cliente
  </button>
</div>

<div class="customers-body">
  <app-customer-table
    [itemsPerPage]="itemsPerPage"
    [search]="CustomerFilter"
  ></app-customer-table>
</div>
