<form [formGroup]="newCustomerForm">
  <div class="form-inputs">
    <ng-container *ngFor="let control of formControls">
      <div class="custom-input">
        <label [for]="control.name">{{ control.label }}</label>
        <input
          [type]="control.type"
          [id]="control.name"
          [formControlName]="control.name"
          [value]="control.value"
          [placeholder]="control.placeholder"
          [mask]="control.mask || ''"
          [max]="currentDate()"
          thousandSeparator="."
          decimalSeparator=","
          [ngClass]="
            getControl(control.name)?.invalid &&
            getControl(control.name)?.touched
              ? 'has-error'
              : ''
          "
        />

        <div
          class="validation-error"
          *ngIf="
            getControl(control.name)?.invalid &&
            getControl(control.name)?.touched
          "
        >
          <div *ngIf="getControl(control.name)?.errors?.required">
            {{ control.label }} é obrigatório.
          </div>

          <div *ngIf="getControl(control.name)?.errors?.email">
            E-mail inválido.
          </div>

          <div *ngIf="getControl(control.name)?.errors?.noLastName">
            É necessário ao menos um sobrenome.
          </div>

          <div *ngIf="getControl(control.name)?.errors?.ageRange">
            O cliente deve ter entre 18 e 60 anos.
          </div>

          <div *ngIf="getControl(control.name)?.errors?.invalidCpf">
            O CPF deve ser válido.
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</form>

<div class="buttons-container">
  <button class="custom-button secondary" (click)="resetAndGoToCustomers()">
    Voltar
  </button>

  <button
    class="custom-button primary"
    (click)="onSubmitForm()"
    [disabled]="newCustomerForm.invalid"
  >
    Salvar
  </button>
</div>
