/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
@import "./styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button {
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: $color-neutral-white;
  text-transform: uppercase;
  cursor: pointer;

  &.primary {
    background: $color-primary-dark;

    &:hover {
      background: $color-primary-light;
    }
  }

  &.secondary {
    background: $color-neutral-medium;

    &:hover {
      background: $color-neutral-dark;
      color: $color-neutral-white;
    }
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.custom-input {
  position: relative;
  
  label {
    position: absolute;
    color: $color-primary-medium;
    font-size: 0.625rem;
    font-weight: 700;
    padding: 0.75rem 1rem;
  }
  
  input {
    color: $color-primary-darkest;
    border: 1px solid $color-neutral-lightest;
    border-radius: 0.5rem;
    padding: 2rem 1rem 0.75rem;
    outline: none;

    &.has-error {
      border-color: $color-feedback-danger-medium;
    }
  }

  .validation-error {
    margin: 0 0.5rem;
    font-size: 0.625rem;
    color: $color-feedback-danger-medium;

    div {
      margin-top: 0.25rem;
    }
  }
}
